body, html{
  font-family: 'Inter', sans-serif;
  margin:0;
  padding: 0;
  height: 100vh;
}

.content{
  display: flex;
  width: 100%;
  position: relative;
}


/* Estilos NavBar */
ul{
  padding: 0;
  margin: 0;
}
nav{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px 0 #20212447;
  z-index: 5;
  position: fixed;
  background: white;
}

nav ul{
  display: flex;
  margin: 0;
  align-items: center;
  height: 100px;
  width: 225px;
}

nav li{
  list-style: none;
  padding: 10px;
}

.movie-logo img{
  height: 75px;
  width: auto;
}

.buscador{
  width: 320px;
  height: 35px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscador input{
  width: 280px;
  height: 25px;
  margin-left: 2px;
  border: none;
  outline: none;
}

.buscador:hover{
  box-shadow: 0 1px 6px #20212447;
  border-color: #5880d169;
}

.buscador label{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.user-icon img{
  height: 60px;
  width: auto;
}

/* Estilos Left menu */

.movie-list{
  display: grid;
  grid-template-columns: repeat(6, minmax(220px, 1fr));
  grid-template-rows: repeat(6, 280x);
  grid-gap: 10px;
  justify-content: center;
  margin: 10px;
  padding-left: 140px;
  padding-top: 100px;
}

.left-menu{
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  z-index: 2;
  padding-top: 95px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0507ffe6;
  box-shadow: 1px #20212447;
}

.left-menu img{
  width: 40px;
}

.left-menu a{
  text-decoration: none;
  font-size: 12px;
  display: block;
  text-align: center;
  color: white;
}

.left-menu li{
  display: block;
  margin: 20px;
}

.left-menu .home{
  margin-top: 30px;
}

/* Estilos Movie list */


.movie{
  cursor: pointer;
  position:relative;
  display: block;
}

.movie-img{
  margin:0;
}

.movie-img img{
  width: 100%;
  height: 100%;
  max-height: 320px;
  object-fit: cover;
  vertical-align: top;
  box-shadow: 0 0.1em 0.4em 0 rgba(32, 33, 36, 0.6);
}

.movie-overlay{
  background: rgba(81, 81, 81, 0.88);
  position: absolute;
  left: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  padding: .2em 1em;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.movie:hover{
  box-shadow: 0 1px 6px #20212447;
  border-color: #5880d169;
}

.movie:hover .movie-overlay{
  display: flex;
}

.title{
  font-size: 20px;
  grid-column: 1 / span 6;
}

p .movie-sinopsis{
  font-size: 10px;
  padding: 0px 1px;
}

/* Footer */

footer{
  font-size: 10px;
  font-weight: 700;
  display: flex;
  padding-left: 120px;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}

footer ul{
  display: flex;
  list-style: none;
  margin: 0px 20px;
}

footer .RRSS{
  margin: auto;
}

footer ul li{
  padding: 10px;
  margin-top: 5px
}
